click==6.7
Flask==1.0.0
itsdangerous==0.24
Jinja2==2.10.1
MarkupSafe==1.0
python-dotenv==0.6.4
requests==2.20.0
Werkzeug==0.15.5
gevent
gunicorn
giphypop
pytz
icalendar
spotipy
psycopg2-binary
sqlalchemy
PyYAML
urbandict
